body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: center;
    background: linear-gradient(135deg, #71e6c1, #1427ce);
}
.container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #454545 #45f3ff, #b813bd);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.container::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

.pading {
    position: absolute;
    top: 0;
    inset: 0;
}

.pading::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #080808, #0b0b0b, #0b0b0b);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
    }

.container {
    max-width: 700px;
    width: 100%;
    background-color: #71b7e6;
    padding: 25px 30px;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #0a0a0a, #ff00ff);
}
form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .detalist{
   display: block;
   font-weight: 500;
   margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5xp;
    border: 2pxsolid;
}
